
.icon-mail:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-linkedin-circled:before { content: '\f30c'; } /* '' */
